# Server
PORT=3001
NODE_ENV=development

# AWS
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# DynamoDB
DYNAMODB_LESSONS_TABLE=lessons
DYNAMODB_PROGRESS_TABLE=user-progress
DYNAMODB_VOCABULARY_TABLE=vocabulary
DYNAMODB_RECORDINGS_TABLE=recordings

# S3
S3_AUDIO_BUCKET=deep-learning-english-audio
S3_RECORDINGS_BUCKET=deep-learning-english-recordings
CLOUDFRONT_DOMAIN=

# API
NEXT_PUBLIC_API_URL=http://localhost:3001

